USE [LibraryBD]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 5/06/2022 11:09:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[id] [int] NOT NULL,
	[idBook] [int] NOT NULL,
	[firstName] [nvarchar](250) NOT NULL,
	[lastName] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 5/06/2022 11:09:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[id] [int] NOT NULL,
	[title] [nvarchar](250) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[pageCount] [int] NOT NULL,
	[excerpt] [varchar](max) NOT NULL,
	[publishDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Authors] ([id], [idBook], [firstName], [lastName]) VALUES (1, 1, N'First Name 1', N'Last Name 1')
INSERT [dbo].[Authors] ([id], [idBook], [firstName], [lastName]) VALUES (2, 1, N'First Name 2', N'Last Name 2')
INSERT [dbo].[Authors] ([id], [idBook], [firstName], [lastName]) VALUES (3, 2, N'First Name 3', N'Last Name 3')
GO
ALTER TABLE [dbo].[Authors]  WITH CHECK ADD  CONSTRAINT [FK_Authors_Books] FOREIGN KEY([idBook])
REFERENCES [dbo].[Books] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Authors] CHECK CONSTRAINT [FK_Authors_Books]
GO
